extends layout
block content
  body   
  .page-header
    h2.form-signin-heading Bug page     
        small 
         =req.bug.bugName
    p 
    b Full description: 
    =req.bug.description
    a(href="#", onclick="showLayer();" )
     img.offset7(src="../pictures/coins.png", width="25")
    b=req.bug.totalSum
    b  $        
   p 
    b Posted by:  
    =req.bug.author
   p 
    b Status:  
    =req.bug.status
   p 
    b Link:  
    =req.bug.link
   hr 
  each comment in req.bug.comments
   div.well.well-small
    b Posted by 
    a(href='/user/' + comment.user)
     =comment.username
    p
     b When: 
     =comment.createdAt

    p= comment.body

  form(method="post", action="/bugpage/#{req.bug._id}/comments")
   textarea(type='text', rows="3", name='body', placeholder='Add your comment')
   br
   button.btn.btn-success(type='submit') Post
  form(method="post", action="/bugpage/#{req.bug._id}/additions")
   #shadow.opaqueLayer
     #question.questionLayer
      input.btn.btn-close.offset3(type='button', onclick='hideLayer();', value='X')
      h3 Donate Form
        .modal-body
         .control-group
          label.control-label Donation Amount
           .controls
            .input-prepend
             .span.add-on  €
             input.input-mini(type='number', name='sum', value="5")
          .control-group
           .controls
            label.checkbox
             input#tos-agreed(type='checkbox', required='required')
             I Agree to the
             a(href='#tos-modal', data-toggle='modal') Terms of Service
         .control-group
          .controls
           button.btn.btn-primary.btn-small Support Bounty
