
<form  method='POST' action='<%= postpath %>'>
	<% if(bug) 
	{ %>
	<input type='hidden' name='id' value='<%= bug._id %>' />
	<% } %>
		<p> <b> Bug name</b></p><input type='text' name='bugName' value='<%=bug.bugName%>'/>
		<p> <b>Author</b></p><input type='text' name='author' value='<%= bug.author %>' />
		<br/>
		<p>Write here your comment</p>
		<textarea rows=5 cols=40 name='description'>
		<%=bug.description %>
		</textarea>
		<br/>
		<select name='status'>
                   <option value='Done' >Done</option>
                   <option value='Ongoing'>Ongoing</option>
                   <option value='Nothing'  selected='selected'>Nothing</option>
                </select>
                </br>
                <p> <b>Link</b></p><input type='text' name='link' value='<%= bug.link %>' />
                </br>
                
		<input type='submit' value='Submit' />
</form>

