.leftSide 
 ul.nav
  li
   b Main Links
  li
   a(href='#') Home
  li
   a(href='#') Bounties
.centreSide
 ul.nav
  li 
   b About us
  li
   a(href='#') Home
  li
   a(href='#') Bounties 

.rightSide
 b Social 
 