.leftSide 
 ul.nav
  li
   b Main Links
  li
   a(href='#') Home
  li
   a(href='#') Bounties
.centreSide
 ul.nav
  li 
   b About us
  li
   a(href='#') Home
  li
   a(href='#') Bounties 

.rightSide
 b Social 
 iframe(src='https://www.facebook.com/plugins/like.php?href=http://haaga-helia.seravo.fi:3001/', scrolling='no', frameborder='0', style='border: none; width: 200px; height: 80px;')
