extends layout
block content
  body
  if (!req.isAuthenticated())  
   hr  
   .jumbotron
    h1 Make your software even better!
    p.lead
     | Bounty project helps people .
    a.btn.btn-large.btn-success(href='/signup') Sign up today
    br
    a(href="/auth/facebook")
     img(src="pictures/facebook.png")
    a(href="/auth/google")
     img(src="pictures/grey_google_stamp.png")
    a(href="#")
     img(src="pictures/grey_twitter_stamp.png")
  hr 
  each bug in req.bugs
   div(class="well well-small;", style= "height:100px;")  
    div(style="float:left") 
     p
      b Title: 
      =  bug.bugName 
     p
       b Description: 
       = bug.description   
     a.btn.btn-info(style="margin-top: 20px", href="/bug/" + bug._id) See bug      
    div(style="float: right")  
      p
        b Posted by:   
          a(href="/user/"+bug.author._id)=bug.author.username 
        //random placeholde will be raplaced with avatar
      img.img-rounded(style='width:75px; float: right', src='/pictures/placeholder.jpg')
  .pagination.pagination-small
    ul
      - if (page > 0) {
      li
        a(href="?page=" + (page - 1)) Previous
      - }
      - if (!lastPage) {
      li
        a(href="?page=" + (page + 1)) Next
      - }  
  hr
  .footer
    p © The Wanderers 2013


         //- each bug in bugs
         //-  p=bug.bugName








