extends layout
block content
  body
  //- if (!req.isAuthenticated())  
  //-  hr  
  //-  .jumbotron
  //-   h1 Make your software even better!
  //-   p.lead
  //-    | Bounty project helps people .
  //-   a.btn.btn-large.btn-success(href='/signup') Sign up today
  .content
   .leftSide
    h4.text-info Most recent bounties :
    each bug in req.bugs
     .bountyBox
      .bountyInfo 
       p 
        b Title: 
        =  bug.bugName 
        | &nbsp;
        case bug.bountyStatus 
         when 'OPEN'  
          span.label.label-info(style="margin-right:5px")
           = bug.bountyStatus 
         when 'In Progress' 
          span.label.label-important(style="margin-right:5px")
           = bug.bountyStatus  
        span.badge.badge-warning  
         =bug.totalSum 
         | €  
       p
         b Description: 
         = bug.description        
        a.btn.btn-info(style="margin-top:50px", href="/bug/" + bug._id) See bug
      .authorInfo
       p
        b Posted by:   
        a(href="/user/" + bug.author._id) 
         =bug.author.username
       img.img-rounded(style='width:65px; height:65px;float:right', src=bug.author.imagePath)
   .rightSide
    h4.text-info Most expensive bounties :
    each bug in req.expbugs
     .bountyBoxRight
      .bountyInfo 
       p 
        b Title: 
        =  bug.bugName 
        | &nbsp;
        case bug.bountyStatus 
         when 'OPEN'  
          span.label.label-info(style="margin-right:5px")
           = bug.bountyStatus 
         when 'In Progress' 
          span.label.label-important(style="margin-right:5px")
           = bug.bountyStatus  
        span.badge.badge-warning  
         =bug.totalSum 
         | €  
       p
         b Description: 
         = bug.description      
       p 
         b Tags: 
         | C++ , java bla bla     
        a.btn.btn-info(style="margin-top:50px", href="/bug/" + bug._id) See bug
      .authorInfo
       p
        b Posted by:   
        a(href="/user/" + bug.author._id) 
         =bug.author.username
       img.img-rounded(style='width:65px; height:65px; float:right', src=bug.author.imagePath)
    //- .pagination.pagination-left
    //- ul
    //-  - if (req.exppage > 0) {
    //-   li
    //-    a(href="?exppage=0") First 
    //-   li
    //-    a(href="?exppage=" + (req.exppage - 1)) Previous page
    //-    - }
    //-  - if (req.exppage<req.explastPage) {     
    //-   li
    //-    a(href="?exppage=" + (req.exppage + 1)) Next page
    //-   li
    //-    a(href="?exppage=" + req.explastPage) Last  
    //-   - } 
   .bottomContent
    .pagination.pagination-centered
     ul
      - if (page > 0) {
       li
        a(href="?page=0") First 
       li
        a(href="?page=" + (page - 1)) Previous page
        - }
      - if (page<lastPage) {     
       li
        a(href="?page=" + (page + 1)) Next page
       li
        a(href="?page=" + lastPage) Last  
       - }     
  .footer
   hr
   p © The Wanderers 2013





         //- each bug in bugs
         //-  p=bug.bugName








