extends layout
block content
  body
   if (!req.isAuthenticated())  
    .jumbotron
     h1 Make your software even better!
     p.lead
      | Enjoy software that you use.
     a.btn.btn-large.btn-success(href='/signup') Join us
     hr 
   .leftSide
    h4.text-info Most recent bounties :
    each bug in req.bugs
     .bountyBox
      .bountyInfo 
       p 
        b Title: 
        =  bug.bugName 
        | &nbsp;
        case bug.bountyStatus 
         when 'OPEN'  
          span.label.label-info(style="margin-right:5px")
           = bug.bountyStatus 
         when 'IN PROGRESS' 
          span.label.label-important(style="margin-right:5px")
           = bug.bountyStatus  
        span.badge.badge-warning  
         =bug.totalSum 
         | €  
       p 
         b Tags: 
         | C++ , java bla bla    
       a.btn.btn-info(style="margin-top:50px", href="/bug/" + bug._id) See bug
      .authorInfo
       p
        b Posted by:   
        a(href="/user/" + bug.author._id) 
         =bug.author.username
       img.img-rounded(style='width:70px; height:70px;float:right', src=bug.author.imagePath) 
   .centreSide
    h4.text-info Most expensive and open bounties :
    each bug in req.expbugs
     .bountyBox
      .bountyInfo 
       p 
        b Title: 
        =  bug.bugName 
        | &nbsp;
        case bug.bountyStatus 
         when 'OPEN'  
          span.label.label-info(style="margin-right:5px")
           = bug.bountyStatus 
         when 'IN PROGRESS' 
          span.label.label-important(style="margin-right:5px")
           = bug.bountyStatus  
        span.badge.badge-warning  
         =bug.totalSum 
         | €  
       p 
         b Tags: 
         | C++ , java bla bla  
       a.btn.btn-info(style="margin-top:50px", href="/bug/" + bug._id) See bug
      .authorInfo
       p
        b Posted by:   
        a(href="/user/" + bug.author._id) 
         =bug.author.username
       img.img-rounded(style='width:70px; height:70px; float:right', src=bug.author.imagePath)
   .rightSide
     h4.text-info Info
     p There are 
      b=req.count
      |  bounties in the system.
  .footer
   hr
   p © The Wanderers 2013

  script 
    $('.bountyBox').hover(function() {
       $(this).css( "background-color", "#9AFF9A" );
        //alert(this.value);
      })












