doctype 5
html
  head
    title= 'Bounty'
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(src='../javascripts/jquery.js') 
    script(src='../javascripts/myjs.js')    
  style(type='text/css')
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
      margin: 0 auto;
      max-width: 700px;
      }
      .container-narrow > hr {
      margin: 30px 0;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
      margin: 60px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
      /* Supporting marketing content */
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }
  body
  .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          li
            a(href='/users') Users
          li
            a(href='/bugs') Bugs
           if (req.isAuthenticated())
            li
              a(href='/user/' + req.user.id) Profile
            li
              a(href='/logout') Logout
           else
            li
              a(href='/login') Login
        h3.muted Bounty Project  
       block content




