doctype 5
html
  head
    title= 'Bounty'
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(src='../javascripts/jquery.js')    
    script(src='../javascripts/jquery.validate.min.js')
    script(src='../javascripts/myjs.js')   
  body
  .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          li
            a(href='/users') Users
          li
            a(href='/bugs') Bugs
           if (req.isAuthenticated())
            li
              a(href='/user/' + req.user.id) Profile
            li
              a(href='/logout') Logout
           else
            li
              a(href='/login') Login
        h3.muted Bounty Project  
       block content




