extends layout
block content
  body
   form(action='/login', method='post')
    h2.form-signin-heading Please log in
    input.input-block-level(type='text', name='username', placeholder='Username')
    input.input-block-level(type='password', name='password', placeholder='Password')
    label.checkbox
    input(type='checkbox', value='remember-me')
    | Remember me
    button.btn.btn-large.btn-primary(type='submit') log in
