extends layout
block content
  body   
   h2.form-signin-heading Profile
   .row
    .span6 
     p Your name is  
      =req.user.name
     p Email is 
      =req.user.email
    .span3
     img.img-polaroid(alt="Picture", width="140", height="140", src= req.user.imagePath)

  

  form(action='/uploadImage', method='POST', enctype="multipart/form-data")
   input(type="file", name="thumbnail")
   input(type='submit')

