extends layout
block content
  body
   h2.form-signin-heading User table
   table.table.table-striped
    thead 
     tr
      th Name
      th Email
      th Username
      th Password
    tbody
    each user in req.users 
     tr
      td= user.name
      td= user.email
      td= user.username
      td= user.hashed_password

