body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {
  color: #00B7FF;
}

p {margin-left:20px;}

form {
    margin: 0;
}
label.error {
    color: red;
}
*/
.commentbox{
background-color: #ececec;
width: 450px;
padding: 10px;

}

.commentfooter{
background: url(/pictures/arrow.gif) 20px 0px  no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
/*box-shadow: 2px 2px 3px #000;*/
padding-left: 58px;
padding-top: 8px;
margin-bottom: 2em;
font-size: 90%;
color: black;

}


.opaqueLayer
{
display:none;
position:absolute;
top:0px;
left:0px;
opacity:0.9;
filter:alpha(opacity=60);
background-color: #000000;
z-Index:1000;
}
 
.questionLayer
{
position:relative;
top:0px;
left:0px;
width:350px;
height:400px;
display:none;
z-Index:1001;
border:2px solid white;
background-color:#FFFFFF;
opacity: 1;
text-align:center;
vertical-align:middle;
padding:10px;
}

/*a {
  color: #00B7FF;
}

p {margin-left:20px;}*/

