 body {
      padding-top: 00px;
      padding-bottom: 000px;
      }
      /* Custom container */
      .container-narrow {
      margin: 0 auto;
      max-width: 900px;
      }
      .container-narrow > hr {
      /*margin: 30px 0;*/
      }
      /* Main marketing message and sign up button */
      .jumbotron {
      margin: 60px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
      /* Supporting marketing content */
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }

/*a {
  color: #00B7FF;
}

p {margin-left:20px;}

form {
    margin: 0;
}
label.error {
    color: red;
}
*/
.commentbox{
background-color: #ececec;
width: 450px;
padding: 10px;

}

.commentfooter{
background: url(/pictures/arrow.gif) 20px 0px  no-repeat; /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
/*box-shadow: 2px 2px 3px #000;*/
padding-left: 58px;
padding-top: 8px;
margin-bottom: 2em;
font-size: 90%;
color: black;

}


.opaqueLayer
{
display:none;
position:absolute;
top:0px;
left:0px;
opacity:0.9;
filter:alpha(opacity=60);
background-color: #000000;
z-Index:1000;
}
 
.questionLayer
{
position:relative;
top:0px;
left:0px;
width:350px;
height:400px;
display:none;
z-Index:1001;
border:2px solid white;
background-color:#FFFFFF;
opacity: 1;
text-align:center;
vertical-align:middle;
padding:10px;
}

/*a {
  color: #00B7FF;
}

p {margin-left:20px;}*/

.authorInfo{
   float: right;
   /*background-color: yellow;*/
   display:inline-block;
   width: 120px;
}


.bountyInfo {
  /*background-color: pink;*/
  display:inline-block;
  width: 250px;
}

.bountyBox{
 
  min-height: 120px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin-top: 5px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.bountyBoxRight{
 
  min-height: 120px;
  background-color: pink;
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin-top: 5px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.leftSide{
  display: inline-block;
  float: left;
  width: 430px;

}
.rightSide{
  display: inline-block;
  float: right;
  width: 430px;
}

.content{

}

.bottomContent{
  /*position: absolute;*/
/*  bottom: 0;
  height: 80px;*/
  padding: 40px;
  clear: both;
}

.footer { 

} 

/*p.block {
    width: 300px;
    white-space: nowrap;
    word-wrap: break-word;
}*/