body
{

margin-top:100px;
margin-bottom:100px;
margin-right:50px;
margin-left: 150px;

}
h1
{
color:#4D4D4D;
text-align:left;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}
table
{
background-color: #E0DEFF;
padding: 2px;
width:100%;


}
